<tr>	
	
	<% fat_measurement.method_fields.each do |mf| %>
		<% if mf == :created_at %>
			<td><%= fat_measurement.created_at.strftime("%-d/%-m/%Y") %></td>
		<% else %>
			<td><%= "%.2f" % fat_measurement.public_send(mf) if fat_measurement.respond_to? mf %></td>
		<% end %>
	<% end %>

	<td><%= "%.2f" % fat_measurement.calculated_bf if 
					!fat_measurement.calculated_bf.blank? %></td>

	<td><%= "%.2f" % fat_measurement.lean_mass if  
					!fat_measurement.lean_mass.blank? %></td>

	<td><%= "%.2f" % fat_measurement.fat_mass if  
					!fat_measurement.fat_mass.blank? %></td>

	<td><%= "%.2f" % fat_measurement.bf_change if  
					!fat_measurement.bf_change.blank? %></td>

	<td><%= "%.2f" % fat_measurement.lean_mass_change if  
					!fat_measurement.lean_mass_change.blank? %></td>

	<td><%= "%.2f" % fat_measurement.fat_mass_change if  
					!fat_measurement.fat_mass_change.blank? %></td>
	
	<% if current_license != "client" %>
		<td class="hide-on-print"><%= link_to "edit",   edit_fat_measurement_path(fat_measurement),
						method: :get, class: "record-link" %></td>
	      
	 	<td class="hide-on-print">
	  	<%= link_to "delete", fat_measurement, method: :delete,
					data: { confirm: 
	 				"Are you sure you want to delete this measurement?" },
	 				class: "record-link" %>
	 	</td>
  <% end %>
</tr>