<% provide(:title, 'Body Fat') %>
<h1>Body Fat</h1>
<h1 class="hide-on-print"><small>Method: <%= @fat_measurement.bf_method %></small></h1>


<ul class="nav navbar-nav navbar-default col-md-12">  
	<% @fat_measurement.bf_options.each do |bf_option| %>
	  <li>
		 	<%= link_to bf_option, change_method_path(bf_method: bf_option, 
	  			view: "index"), method: :post %>
	  </li>
	<% end %>
</ul><br><br><br>

<div class="hide-on-print">
	<% @submit_text = "save New Measurements" %>
	<% if current_license != "client" %>
		<%= form_for(:fat_measurement, url: fat_measurements_path, 
				method: :post, html: {class: "form-horizontal"}) do |f| %>
			<%= f.hidden_field :bf_method, value: @fat_measurement.bf_method %>
			
			<% @form = f %>
			<%= render 'fat_measurements/fields' %>
	
		<% end %>
	<% end %>
</div>

<% if @fat_measurements.length > 0 %>
	<div class="">
	<table class="table table-striped table-bordered fat-measurement-table">
		<tr class="header-row">
			<th class="created-at">
				<div class="fat-label">Created At<br>(d/m/yyyy)</div>
			</th>

			<% @fat_measurement.method_fields.each do |mf| %>
				<% @heading = mf.to_s.titleize %>
				<% next if @heading == "Created At" %>
				<%= render 'fat_measurements/header' %>
			<% end %>
			
			<% extra_labels = [	
				["Body Fat%", " "],
				["Lean Mass", " "],
				["Fat Mass", 	" "],
				["Body Fat%", "Change"],
				["Lean Mass", "Change"],
				["Fat Mass", 	"Change"]
			] %>
			<% extra_labels.each do |heading, subheading| %>
				<% @heading 		= heading %>
				<% @subheading 	= subheading %>
				<%= render 'fat_measurements/header' %>
			<% end %>
		</tr>

		<%= render @fat_measurements %>
	
	</table>
	</div>
	

	<div class="row">

		<% chart_width = 475 %>

		<!-- BF Chart -->
  	<div class="left graph">
	    <%= area_chart @bf_chart_hash,
		    	library: {title: "Body Fat %", width: chart_width,
		    	hAxis: {title: "Date", gridlines: {color: "#CCC"}},
    			vAxis: {title: "%"}}, min: @bf_min, max: @bf_max %>
  	</div>
	
		<!-- Weight Chart -->
	  <div class="right graph">
    	<%= area_chart @weight_chart_hash,
    			library: {title: "Weight", width: chart_width,
    			hAxis: {title: "Date", gridlines: {color: "#CCC"}},
    			vAxis: {title: "lbs"}}, min: @weight_min, max: @weight_max %>
  	</div>
	  
		<!-- Lean Mass Chart -->
	  <div class="left graph">
    	<%= area_chart @lean_chart_hash,
    			library: {title: "Lean Mass", width: chart_width,
    			hAxis: {title: "Date", gridlines: {color: "#CCC"}},
    			vAxis: {title: "lbs"}}, min: @lean_min, max: @lean_max %>
  	</div>
	
		<!-- Fat Mass Chart -->
	  <div class="right graph">
    	<%= area_chart @fat_chart_hash,
    			library: {title: "Fat Mass", width: chart_width,
    			hAxis: {title: "Date", gridlines: {color: "#CCC"}},
    			vAxis: {title: "lbs"}}, min: @fat_min, max: @fat_max %>
  	</div>
	</div>
<% end %>