<% provide(:title, 'Notes') %>
<h1>Notes</h1>

<div class="hide-on-print">
	<% if current_license != "client" %>
		<%= form_for(:note, url: notes_path, method: :post, 
				html: {class: "form-horizontal"}) do |f| %>
			
			Date (d/m/yyyy):
			<%= f.text_field :updated_at, value: Date.today.strftime("%-d/%-m/%Y") %>
			<%= f.text_area :text, cols: 5, rows: 3, class: 'form-control' %>
		
			<div class="text-center">
				<%= f.submit "Add Note", class: 'btn btn-primary' %>
			</div>
		
		<% end %>
	<% end %>
</div>

<% if @notes.length > 0 %>
	<table class="table table-striped table-bordered" >
	
		<!-- notes header row -->
		<th>Date (d/m/yy)</th>
		<th>Author</th>
		<th>Note</th>

		<%= render @notes %>
	
	</table>
<% end %>