<% if !(@e.sub_exchanges & @sub_exchanges).nil? %>
	<% (@e.sub_exchanges & @sub_exchanges).each do |s| %>
		<tr>
			<% if @my_sub_exchanges && @my_sub_exchanges.include?(s) %>
					
				<%= form_for(:sub_exchange, url: sub_exchange_path(s), 
						method: :patch) do |f| %>
					<td colspan="3"><%= f.text_field :name, value: s.name, 
															class: "table-text" %></td>
					<td><a><%= f.submit 'Update', class: "submit-link" %></a></td>
					<td>
						<%= link_to 'Delete', sub_exchange_path(s), method: :delete, 
								data: {confirm: 'Are you sure? This will also delete all associated Foods and Meal Plan entries.'} %>
					</td>
					<% if current_license == "owner" %>
						<td class="text-right">
							<%= "(#{s.user.name})" %>
						</td>
					<% end %>
				<% end %>
								
			<% else %>
				<td colspan="3"><%= s.name %></td>
				<td></td>
				<td></td>
			<% end %>
		</tr>
		<% @s = s %>
		<%= render 'foods' %>
	<% end %>
<% end %>
<%= form_for(:sub_exchange, url: sub_exchanges_path, method: :post) do |f| %>
	<tr>
		<%= f.hidden_field :exchange_id, value: @e.id %>
		<td colspan="3"><%= f.text_field :name, class: "table-text" %></td>
		<td colspan="2"><%= f.submit 'Add New Category', class: "btn-sm btn-primary" %></td>
	</tr>
<% end %>