<h1>Foods & Caloric Supplements</h1>
<% if !@exchanges.nil? %>
	<% @exchanges.each do |e| %>
		<div class="meal-table">
			<table class="table">
				<tr>
					<% if @my_exchanges && @my_exchanges.include?(e) %>
						<%= form_for(:exchange, url: exchange_path(e), method: :patch) do |f| %>
							<td colspan="3" class="big"><%= f.text_field :name, value: e.name, class: "table-text text-center" %></td>
							<td><a><%= f.submit 'Update', class: "submit-link" %></a></td>
							<td>
								<%= link_to 'Delete', exchange_path(e), method: :delete, 
										data: {confirm: 'Are you sure? This will also delete all associated Categories, Foods, and Meal Plan entries.'} %>
							</td>
							<% if current_license == "owner" %>
								<td class="text-right">
									<%= "(#{e.user.name})" %>
								</td>
							<% end %>
						<% end %>
							
					<% else %>
						<td colspan="3" class="big text-center"><%= e.name %></td>
						<td></td>
						<td></td>
					<% end %>
				</tr>
				<tr>
					<th>Categories</th>
					<th>Foods</th>
					<th>Servings per Exchange</th>
					<% if current_license == "owner" %>
						<th colspan="3" class="text-right">(Creator)</th>
					<% else %>
						<th colspan="2" class="text-right"></th>
					<% end %>
				</tr>
				<% @e = e %>
				<%= render 'sub_exchanges' %>
			</table>
		</div>
	<% end %>
<% end %>
<table class="table">
	<%= form_for(:exchange, url: exchanges_path, method: :post) do |g| %>
		<tr>
			<td colspan="5"><%= g.text_field :name, class: "table-text" %></td>
			<td><%= g.submit "Add New Exchange", class: "btn-sm btn-primary" %></td>
		</tr>
	<% end %>
</table>