<table class="col-md-12">

	<!-- set for all -->
	<% @width = "medium" %>
	<% @popup = nil %>

	<!-- gender -->
	<% @label = "Gender:" %>
	<% @field = :gender %>
	<% @type = "select" %>
	<% @options_for_select = [["M"],["F"]] %>
	<% @selected = @user.gender %>
	<% @right = nil %>
	<% @popup = nil %>
	<%= render 'users/field_input'%>

	<!-- resting heart rate -->
	<% @label = "Resting Heart Rate:" %>
	<% @field = :resting_heart_rate %>
	<% @type = "number" %>
	<% @precision = 0 %>
	<% @default = @user.resting_heart_rate %>
	<% @right = "beats/min" %>
	<% @popup = nil %>
	<%= render 'users/field_input'%>

	<!-- present weight -->
	<% @label = "Present Weight:" %>
	<% @field = :present_weight %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.present_weight %>
	<% @right = "lbs" %>
	<% @popup = nil %>
	<%= render 'users/field_input'%>
		
	<% @label = "" %>
	<% @field = :clothing %>
	<% @type = "select" %>
	<% @options_for_select = [
						["in the morning with NO clothes on",1],
						["with workout clothes on and NO shoes",2],
						["with workout clothes on and shoes",3],
						["with work clothes on and NO shoes",4],
						["with work clothes on and shoes",5]] %>
	<% @right = nil %>
	<% @popup = "Select correct attire client is wearing at first
								session. Make sure same or similar clothing is 
								worn for follow ups.
								
								When different attire is worn, adjust weight 
								accordingly when entering future body fat
								measurements." %>
	<%= render 'users/field_input'%>			

	<!-- present body fat -->
	<% @label = "PRESENT Body Fat:" %>
	<% @field = :present_body_fat %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.present_body_fat %>
	<% @right = "%" %>
	<%= render 'users/field_input'%>
	
	<!-- height -->
	<% @label = "Height:" %>
	<% @field = :height %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.height %>
	<% @right = "inches" %>
	<%= render 'users/field_input'%>
			
	<!-- date of birth -->
	<% @label = "Date of Birth:" %>
	<% @field = :date_of_birth_string %>
	<% @date = @user.date_of_birth %>
	<% @type = "date" %>
	<% @right = "" %>
	<%= render 'users/field_input'%>
	
	<!-- desired weight -->
	<% @label = "Desired Weight:" %>
	<% @field = :desired_weight %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.desired_weight %>
	<% @right = "lbs" %>
	<%= render 'users/field_input'%>
	
	<!-- desired body fat -->
	<% @label = "DESIRED Body Fat:" %>
	<% @field = :desired_body_fat %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.desired_body_fat %>
	<% @right = "%" %>
	<%= render 'users/field_input'%>
	
</table>