<table class="col-md-12">

	<!-- set for all -->
	<% @width = "medium" %>
	<% @popup = nil %>
	
	<!-- present body fat -->
	<% @label = "PRESENT Body Fat:" %>
	<% @field = :present_body_fat %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.present_body_fat %>
	<% @right = "%" %>
	<%= render 'users/field_input'%>
	
	<!-- height -->
	<% @label = "Height:" %>
	<% @field = :height %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.height %>
	<% @right = "inches" %>
	<%= render 'users/field_input'%>
			
	<!-- date of birth -->
	<% @label = "Date of Birth:" %>
	<% @field = :date_of_birth_string %>
	<% @date = @user.date_of_birth %>
	<% @type = "date" %>
	<% @right = "" %>
	<%= render 'users/field_input'%>
	
	<!-- desired weight -->
	<% @label = "Desired Weight:" %>
	<% @field = :desired_weight %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.desired_weight %>
	<% @right = "lbs" %>
	<%= render 'users/field_input'%>
	
	<!-- desired body fat -->
	<% @label = "DESIRED Body Fat:" %>
	<% @field = :desired_body_fat %>
	<% @type = "number" %>
	<% @precision = 2 %>
	<% @default = @user.desired_body_fat %>
	<% @right = "%" %>
	<%= render 'users/field_input'%>
	
</table>