<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Estimated Weight Evolution
		</h3>
	</div>
	<div class="panel-body">
	
		<!-- true for all fields -->
		<% @width = "big" %>
		<% @popup = nil %>
		<% @precision = 2 %>
			
		<div class="col-md-10 col-md-offset-2">
			<div class="shrink-on-print">
			<div class="col-md-10 sub-table">			
				<table class="col-md-12">
		
					<!-- Present Weight -->
					<% @label = "Present Weight:" %>
					<% @field = @user.present_weight %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
						
					<!-- Present Lean Mass -->
					<% @label = "Present Lean Mass:" %>
					<% @field = @user.present_lean_mass %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
				
					<!-- Present Fat Mass -->
					<% @label = "Present Fat Mass:" %>
					<% @field = @user.present_fat_mass %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
				
				</table>
			</div>
			</div>
			<div class="shrink-on-print">
			<div class="col-md-10 sub-table">
				<table class="col-md-12">
			
					<!-- Desired Weight -->
					<% @label = "Desired Weight:" %>
					<% @field = @user.desired_weight %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
					
					<!-- Desired Lean Mass -->
					<% @label = "Desired Lean Mass:" %>
					<% @field = @user.desired_lean_mass %>
					<% @right = "Kg" %>
					<%= render 'users/field_display' %>
		
					<!-- Desired Fat Mass -->
					<% @label = "Desired Fat Mass:" %>
					<% @field = @user.desired_fat_mass %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
					
				</table>
			</div>
			</div>
			<div class="shrink-on-print">
			<div class="col-md-10 sub-table">
				<table class="col-md-12">
			
					<!-- Estimated Muscle Changes -->
					<% @label = "Muscle Changes:" %>
					<% @field = @user.estimated_muscle_changes %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
			
					<!-- Estimated Fat Changes -->
					<% @label = "Fat Changes:" %>
					<% @field = @user.estimated_fat_changes %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
					
					<!-- Estimated Total Changes -->
					<% @label = "Total Changes:" %>
					<% @field = @user.estimated_total_changes %>
					<% @right = "Kg" %>
					<%= render 'users/field_display'%>
	
				</table>
			</div>
			</div>
		</div>
	</div>
</div>