<!-- home_address -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Home Address: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :home_address_1, class: 'form-control' %>
	</div>
</div>

<div class="row form-group col-md-offset-3">
	<div class="control-label col-md-2"></div>
	<div class="col-md-5">
		<%= @form.text_field :home_address_2, class: 'form-control' %>
	</div>
</div>

<!-- home city state zip country -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "City, State, Zip: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :home_csz_string, class: 'form-control'  %>
	</div>
</div>

<div class="row form-group col-md-offset-3">
	<%= @form.label "Country: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :home_country, class: 'form-control' %>
	</div>
</div>

<!-- work_address -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Work Address: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :work_address_1, class: 'form-control' %>
	</div>
</div>

<div class="row form-group col-md-offset-3">
	<div class="control-label col-md-2"></div>
	<div class="col-md-5">
		<%= @form.text_field :work_address_2, class: 'form-control' %>
	</div>
</div>

<!-- work city state zip country -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "City, State, Zip: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :work_csz_string, class: 'form-control'  %>
	</div>
</div>

<div class="row form-group col-md-offset-3">
	<%= @form.label "Country: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :work_country, class: 'form-control' %>
	</div>
</div>

<!-- email -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Email: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :email, class: 'form-control' %>
	</div>
</div>

<!-- home_phone -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Home Phone: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :home_phone, class: 'form-control' %>
	</div>
</div>

<!-- mobile_phone -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Mobile Phone: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :mobile_phone, class: 'form-control' %>
	</div>
</div>
	
<!-- work_phone -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Work Phone: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :work_phone, class: 'form-control' %>
	</div>
</div>

<!-- other_phone -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Other Phone: ", class: "control-label col-md-2" %>
	<div class="col-md-5">
		<%= @form.text_field :other_phone, class: 'form-control' %>
	</div>
</div>