<h1>Search Listing</h1>
<h2>Enter below the information you would like displayed in our graduate directory</h2>

<!-- company -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Company Name:", class: "control-label col-md-3 text-right" %>
	<div class="col-md-5">
		<%= @form.text_field :company, class: 'form-control' %>
	</div>
</div>

<!-- website1 address -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Main Website:", class: "control-label col-md-3 text-right" %>
	<div class="col-md-5">
		<%= @form.text_field :website1, class: 'form-control' %>
	</div>
</div>

<!-- website2 address -->
<div class="row form-group col-md-offset-3">		
	<%= @form.label "Additional Website:", class: "control-label col-md-3 text-right" %>
	<div class="col-md-5">
		<%= @form.text_field :website2, class: 'form-control' %>
	</div>
</div>