<div class="form-group">
	<% if @width == "big" %>
		<dl class="dl-horizontal hover col-md-9">
	<% else %>
		<dl class="dl-horizontal hover col-md-7">
	<% end %>
	
	<% if !@popup.blank? %>
		<div data-toggle="tooltip" title="<%= @popup %>" >
	<% end %>

  	<% if @label.length > 18 %>
  		<dt class="control-label-long">
  			<div class="control-label"><%= @label %></div>
  		</dt>
  	<% else %>
  		<dt class="control-label"><%= @label %></dt>
  	<% end %>
  		
  			
 		<dd class="form-control fill-background">
 				<div class="text-left col-md-6">
 				<% if @type=="text" %>
  				<%= @form.text_field @field, class: 'form-control' %>
  			<% elsif @type=="date" %>
  				<% if !@date.blank? %>
  					<% date_value = @date.strftime("%b %d, %Y") %>
  				<% end %>
					<%= @form.text_field @field, value: (date_value),
  						class: 'form-control' %>
  			<% else %>
  				<%= @form.select @field, 
							options_for_select(@options_for_select, @selected),
							{include_blank: false} %>
	 			<% end %>
	 			</div>
	 			<div class="text-right col-md-6"><%= @right %></div>
 		</dd>

	<% if !@popup.blank? %>
		</div>
	<% end %>

	</dl>
</div>