<% if !@popup.blank? %>
	<tr data-toggle="tooltip" title="<%= @popup %>" class="form-group" >
<% else %>
	<tr class="form-group">
<% end %>

	<% if @width=="small" %>
		<td class="control-label control-label-small">
			<%= @label %>
		</td>
	<% elsif @width=="big" %>
		<td class="control-label control-label-big"><%= @label %></td>
	<% else %>
		<td class="control-label"><%= @label %></td>
	<% end %>
 			
	<% if @width=="big" %>
		<td class="form-control form-control-big">
	<% else %>
		<td class="form-control">
	<% end %>
		<% if !@field.blank? %>
			<div class="left">
				<% if @label.include? "Fat-Burning" %>
					<div class = "emphasized">
				<% end %>
					<% if @precision == 2 %>
						<%= sprintf("%0.2f", @field) %>
					<% elsif @precision == 1 %>
		 				<%= sprintf("%0.1f", @field) %>
					<% else %>
		 				<%= sprintf("%0.0f", @field) %>
					<% end %>
				<% if @label.include?("Target Heart Rate") %>
					</div>
				<% end %>

 				<% if @right == "Kg" %>
					&nbsp
					<%= "lbs" %>
 				<% elsif @right == "b/m" %>
 					</div>
 					<div class="left">
						&nbsp
						<%= "to " %>
 						<%= sprintf("%0.0f", @field2) %>
 					</div>
 				<% end %>
 			</div>
 		<% end %>

		<% if !@field.blank? %>
 			<% if @right=="Kg" %>
				<div class="right">
					<%= @user.to_kg(@field) %> Kg
				</div>
			<% else %>
				&nbsp
	 			<%= @right %>
			<% end %>
		<% end %>	
	</td>
</tr>