<% provide(:title, 'Certified Trainers') %>
<h1>Search for Certified Trainers</h1>

<%= form_for(:search, method: :post, html: {class: "form-inline"}) do |s| %>

	<!-- city -->
	<div class="row form-group col-md-offset-3">		
		<%= s.label "City: ", class: "control-label col-md-2" %>
		<div class="col-md-5">
			<%= s.text_field :city, class: "form-control" %>
		</div>
	</div>
	
	<!-- state -->
	<div class="row form-group col-md-offset-3">		
		<%= s.label "State: ", class: "control-label col-md-2" %>
		<div class="col-md-5">
			<%= s.text_field :state, class: "form-control" %>
		</div>
	</div>
	
	<!-- zip -->
	<div class="row form-group col-md-offset-3">		
		<%= s.label "Zip Code: ", class: "control-label col-md-2" %>
		<div class="col-md-5">
			<%= s.text_field :zip, class: "form-control" %>
		</div>
	</div>
	
	<div class="text-center">		
		<%= s.submit "Find", class: 'btn btn-primary' %>
	</div>
	
<% end %>