<tr>
	<td colspan="2" class="text-right"><%= @fa.servings_text %></td>	
	<td onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= @f.collection_select :food_id, @fa.available_foods, :id, :name,
				{selected: @fa.food.id}, {} %>
	</td>
	<td class="text-right"><%= "%g" % ("%.2f" % @fa.number_of_exchanges) %></td>
	<td><%= @fa.food.sub_exchange.drop_down_text %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.carbs_per_serving * @fa.servings)) %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.protein_per_serving * @fa.servings)) %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.fat_per_serving * @fa.servings)) %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.kcals_per_serving * @fa.servings)) %></td>
</tr>