<table class="table">
			
	<!-- table header -->
	<tr>
		<% if current_license == "client" %>
			<th colspan="3"><%= "#{@meal.name} - #{@meal.time.to_s(:standard_time)}" %></th>
		<% else %>
			<%= form_for :meal, url: meal_path(@meal), method: :patch, id: "title_form#{@meal.id}" do |f| %>
				<div onchange='$("#title_form<%= @meal.id %>").submit();'>				
					<th colspan="2"><%= f.text_field :name, value: @meal.name %></th>
					<th><%= f.text_field :time, value: @meal.time.to_s(:standard_time) %></th>
				</div>
			<% end %>
		<% end %>
		<th class="text-right"># of</th>
		<th class="col-md-3">Exchanges</th>
		<th>Carbs</th>
		<th>Protein</th>
		<th>Fat</th>
		<th>Kcals</th>
		<th colspan="2" class="hide-on-print"></th>
		<% if current_license != "client" && current_license != "employee"  %>
			<th class="hide-on-print"><%= link_to 'Delete Meal', @meal, method: :delete, data: { confirm: 'Are you sure?' } %></th>
		<% end %>
	</tr>
	
	<!-- list of foods assigned to the meal -->
	<% if !@meal.food_assignments.nil? %>
		<% @meal.food_assignments.order(:position).each do |fa| %>			
			<%= form_for :food_assignment, url: food_assignment_path(fa), method: :patch,
					html: {id: "food_form#{fa.id}"} do |f| %>
	
				<% @fa, @f = fa, f %>
				<% if current_license == "client" %>
					<%= render 'client_food_form' %>
				<% else %>
					<%= render 'non_client_food_form' %>
				<% end %>

			<% end %>
		<% end %>
	<% end %>
	
	<!-- meal notes and totals -->
	<tr>
		<td colspan="5" class="text-right"><%= "#{@meal.name} Totals"%></td>
		<td><%= "%g" % ("%.2f" % @meal.carbs) %></td>
		<td><%= "%g" % ("%.2f" % @meal.protein) %></td>
		<td><%= "%g" % ("%.2f" % @meal.fat) %></td>
		<td><%= "%g" % ("%.2f" % @meal.kcals) %></td>
	</tr>
	<tr></tr>
	<tr>
		<% if current_license == "client" %>
			<td colspan="12"><%= "Notes: #{@meal.notes}" %></td>
		<% else %>
			<td colspan="2" class="text-right">Notes: </td>
			<td colspan="10" onchange='$("#notes_form<%= @meal.id %>").submit();'>
				<%= form_for :meal, url: meal_path(@meal), method: :patch, id: "notes_form#{@meal.id}" do |f| %>
					<%= f.text_field :notes, value: @meal.notes %>
				<% end %>
			</td>
		<% end %>
	</tr>

	<!-- form to add new food to the meal -->
	<% if current_license != "client" %>
		<%= form_for :food_assignment, url: food_assignments_path, method: :post do |f| %>
			<tr class="hide-on-print">
				<td colspan="4">Add new food to <%= @meal.name %></td>
				<td class="text-right"><%= f.number_field :number_of_exchanges, min: 0 %></td>
				<td colspan="6">
					<%= collection_select nil, :category, @my_sub_exchanges, :name, 
							:drop_down_text %>
					<%= f.hidden_field(:meal_id, value: @meal.id) %>
				</td>
				<td><%= f.submit "Add", class: "btn-sm btn-primary" %></td>
			</tr>
		<% end %>
	<% end %>
</table>