<tr>
	<td colspan="2" class="text-right col-md-2"><%= @fa.servings_text %></td>
	<td class="col-md-3" onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= select_tag 'food_assignment[food_id]', grouped_options_for_select(@fa.grouped_available_foods, 
				selected: @fa.food.id) %>
	</td>
	<td class="text-right col-md-1" onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= @f.text_field :number_of_exchanges, value: "%g" % ("%.2f" % @fa.number_of_exchanges) %>
	</td>
	<td class="text-left col-md-3" onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= collection_select nil, :sub_exchange, @my_exchanges, :id_for_dropdown, :name, 
				selected: @fa.food.sub_exchange.exchange.id %>
	</td>
	<td><%= "%g" % ("%.2f" % (@fa.food.carbs_per_serving * @fa.servings)) if @fa.food && @fa.servings %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.protein_per_serving * @fa.servings)) if @fa.food && @fa.servings %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.fat_per_serving * @fa.servings)) if @fa.food && @fa.servings %></td>
	<td><%= "%g" % ("%.2f" % (@fa.food.kcals_per_serving * @fa.servings)) if @fa.food && @fa.servings %></td>
	<td class="hide-on-print">
		<% if @fa.position > 0 %>
			<%= link_to move_food_up_path(id: @fa.id), method: :post do %>
      	<i class="glyphicon glyphicon-arrow-up"></i>
			<% end %>
    <% end %>
	</td>
	<td class="hide-on-print">
  	<% if @fa.position < @fa.meal.food_assignments.length - 1 %>
    	<%= link_to move_food_down_path(id: @fa.id), method: :post do %>
      	<i class="glyphicon glyphicon-arrow-down"></i>
			<% end %>
		<% end %>
	</td>
	<% if current_license != "employee" %>
		<td class="hide-on-print">
			<%= link_to 'Remove', @fa, method: :delete %>
		</td>
	<% end %>
</tr>