<tr>
	<td class="text-right"><%= @fa.servings_text %></td>
	<td onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= @f.collection_select :food_id, @fa.food.sub_exchange.foods, :id, :name,
				{selected: @fa.food.id}, {} %>
	</td>
	<td class="text-right number-field" onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= @f.text_field :number_of_exchanges, value: @fa.number_of_exchanges %>
	</td>
	<td class="text-left" onchange='$("#food_form<%= @fa.id %>").submit();'>
		<%= @f.collection_select :sub_exchange, @meal.non_empty_sub_exchanges, :id, :drop_down_text, 
				value: @fa.food.sub_exchange %>
	</td>
	<td><%= @fa.food.carbs_per_serving * @fa.servings if @fa.food && @fa.servings %></td>
	<td><%= @fa.food.protein_per_serving * @fa.servings if @fa.food && @fa.servings %></td>
	<td><%= @fa.food.fat_per_serving * @fa.servings if @fa.food && @fa.servings %></td>
	<td><%= @fa.food.kcals_per_serving * @fa.servings if @fa.food && @fa.servings %></td>
	<td>
		<% if @fa.position > 0 %>
			<%= link_to move_food_up_path(id: @fa.id), method: :post do %>
      	<i class="glyphicon glyphicon-arrow-up"></i>
			<% end %>
    <% end %>
	</td>
	<td>
  	<% if @fa.position < @fa.meal.food_assignments.length - 1 %>
    	<%= link_to move_food_down_path(id: @fa.id), method: :post do %>
      	<i class="glyphicon glyphicon-arrow-down"></i>
			<% end %>
		<% end %>
	</td>
	<td>
		<%= link_to 'Remove', @fa, method: :delete %>
	</td>
</tr>