<h1>Exercise Plan</h1>

<div class="hide-on-print">
	<% if current_license != "client" %>
		<%= form_for(:exercise_assignment, url: exercise_assignments_path, 
				method: :post, html: {class: "form-horizontal"}) do |f| %>
			
			<% @form = f %>
			<%= render 'new' %>
	
		<% end %>
	<% end %>
</div>

<div class="bold big">Avg. Daily KCal: <%= @daily_average_kcal %></div>

<h2 class="text-left">Cardiovascular Exercises</h2>
<% @show = @cardio %>
<% if current_license == "client" %>
  <%= render 'show' %>
<% else %>
  <%= render 'edit' %>
<% end %>

<br>
<br>

<h2 class="text-left">Resistance Exercises</h2>
<% @show = @resistance %>
<% if current_license == "client" %>
  <%= render 'show' %>
<% else %>
  <%= render 'edit' %>
<% end %>