<div class="row logged-focussed">
  <!--Display logged in user-->
  <% if logged_in?  %>
    <div id="name-left"><%= "Logged In: #{current_user.name}" %></div>
  <% end %>
  
  <!--If !client, display focussed user-->
  <% if focussed? && current_user.license != "client" %>
    <div id="name-right"><%= "Focussing On: #{focussed_user.name}" %></div>
  <% end %>
</div>

<nav class="row" id="menu">
  <ul class="nav navbar-nav navbar-default col-md-12">
  
    <li><%= link_to "Home", root_path %></li>

    <!-- Link to list of subusers -->
    <% if logged_in? && current_license != "client" %>
    
      <% if current_license == "owner" %>
        <% users_text = "Users" %>
      <% elsif current_license == "employer" %>
        <% users_text = "Clients & Employees" %>
      <% else %>
        <% users_text = "Clients" %>
      <% end %>
      
      <li><%= link_to users_text, users_path(current_user.id) %></li>
    <% end %>

    <!-- Account links dropdown -->
    <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        
          <!-- users account link -->
          <li><%= link_to "My Profile",           current_user %></li>

          <!-- client/employee account link -->
          <% if focussed_license == "client" && 
                current_license != "client" %>
            <li class="divider"></li>
            <li><%= link_to "Client's Profile",   focussed_user %></li>
          <% elsif focussed_license == "employee" %>
            <li class="divider"></li>
            <li><%= link_to "Employee's Profile", focussed_user %></li>
          <% end %>
          
          <li class="divider"></li>
          <li>
            <%= link_to "Log out", logout_path, method: "delete" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "Find Certified Fitness & Nutritional Specialist (CFNS)", search_path %></li>
    <% end %>
    
    <!-- Exercises dropdown -->        
    <% if logged_in? && current_license != "client" %>
      <li><%= link_to "Exercises", exercises_path %></li>
    <% end %>
    
    <!-- Foods dropdown -->        
    <% if logged_in? && current_license != "client" %>
      <li><%= link_to "Foods and Supplements", exchanges_path %></li>
    <% end %>
    
    <!-- What Works links dropdown -->        
    <% if current_license == "client" || focussed_license == "client" %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          What Works <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Basic Info",      basic_info_path %></li>
          <li><%= link_to "Measurements",    measurements_path %></li>
          <li><%= link_to "Body Fat",        fat_measurements_path %></li>
          <li><%= link_to "Exercise Plan",   exercise_assignments_path %></li>
          <li><%= link_to "Meal Plan",       meals_path %></li>
          <li><%= link_to "Supplements",     supplement_assignments_path %></li>
          <% if current_license != "client" %>
            <li><%= link_to "Notes",         notes_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    
  </ul>
</nav>